@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    margin: 0 auto;
    height: 100%;
    flex-direction: column;
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: #000;
    background: #fff;
}

.page_header {
    min-height: 900px;
    background-image: linear-gradient(180deg, #EDA418 47.5%, rgba(237, 164, 24, 0) 100%);
}

.navigation {
    display: flex;
    max-width: 1450px;
    gap: 15px;
    margin: 0 auto;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding-top: 105px;
}

.logo {
    display: block;
    margin-top: 8px;
}

.navigation_list {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: auto 0;
    padding: 0;
    list-style: none;
    max-width: 500px;
    width: 100%;
}

.navigation_title_main {
    display: block;
    max-width: 200px;
    width: 100%;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    color: #000;
    transition: color 0.5s ease;
}

.navigation_title_main:hover {
    color: #ffffff;
}

.navigation_buttons {
    display: flex;
    align-items: center;
}

.navigation_button {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-color: #000;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.navigation_button:hover {
    transform: scale(1.1);
}

.burger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

.container_page_header {
    display: flex;
    justify-content: space-between;
    padding: 25px 90px 0 90px;
    margin: 0 auto;
    max-width: 1300px;
    gap: 20px;
}

.text_header_list {
    max-width: 600px;
    width: 100%;
    padding: 0;
    list-style: none;
}

.text_header {
    margin: 0;
    padding: 0;
    padding-top: 190px;
    font-weight: 800;
    font-size: 33px;
    line-height: 40px;
}

.text_header_discount {
    margin: 0;
    padding: 0;
    padding: 30px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.container_button_header {
    display: block;
    margin: 0;
    padding: 25px;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    border: none;
    border-radius: 50px;
    background-color: #E52626;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.container_button_header:hover {
    color: #000;
    background-color: #fff;
    transform: scale(1.1);
}

.page_main {
    max-width: 1550px;
    margin: 0 auto;
    min-height: 900px;
    text-align: center;
}

.container_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 30px;
}

.catalog_title {
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 55px;
    color: #000;
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    gap: 40px 30px;
    list-style: none;
}

.catalog_item {
    max-width: 450px;
    width: 100%;
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.catalog_item img {
    max-width: 100%;
    object-fit: cover;
}

.catalog_item:hover {
    color: #EDA418;
    transform: scale(1.05);
}

.catalog_item img{
    border-radius: 50px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.catalog_item:hover img {
    border-radius: 50px;
    box-shadow: 0 0 40px #EDA418;
}

.catalog_text {
    margin: 0;
    padding: 0;
    padding-top: 15px;
    font-weight: 500;
    font-size: 35px;
    line-height: 45px;
    color: #000;
    transition: color 0.3s ease;
}

.catalog_item:hover .catalog_text {
    color: #EDA418;
}

.page_footer {
    min-height: 450px;
    text-align: center;
    background-image: linear-gradient(0deg, #EDA418, rgba(237, 164, 24, 0) 100%);
}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    padding-top: 160px;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}

.footer_title {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
}

.footer_title:hover {
    color: #ffffff;
}

.footer_page_text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    list-style: none;
}

.footer_text {
    padding-top: 25px;
}

.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding-top: 25px;
}

.footer_contact_logo {
    transition: transform 0.3s ease;
}
.footer_contact_logo:hover {
    transform: scale(1.15);
}

.block-100 {
    width: 100%;
  }
  
  
.block-50 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.burger-image {
    width: 642px;
    height: 600px;
    object-fit: contain;
}

@media (max-width: 1440px) {
    .container_page_header {
        max-width: 950px;
    }
    .burger-image {
        max-width: 370px;
        width: 100%;
        max-height: 345px;
        height: 100%;
    }
    .page_header {
        min-height: 720px;
    }
    .container_button_header {
        padding: 15px;
        font-size: 20px;
    }
}

@media (max-width: 960px) {
    .container_page_header {
        justify-content: center;
        flex-direction: column;
    }

    .text_header {
        padding-top: 80px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 210px;
        height: 45px;
    }

    .navigation {
        padding-top: 35px;
    }

    .text_header {
        padding-top: 30px;
    }

    .navigation_list {
        position: fixed;
        left: -100%;
        top: 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-image: linear-gradient(180deg, #EDA418, rgba(237, 164, 24, 0) 100%);
        height: 100vh;
        width: 100vw;
        text-align: center;
        padding-top: 50px;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .navigation_list.active {
        left: 0;
        background-color: #ffffff;
    }

    .navigation_title_main {
        margin: 1.5rem 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .burger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav_menu_basket_img {
        width: 50px;
        height: 50px;
    }

    .navigation_buttons {
        gap: 25px
    }

    .navigation_button {
        width: 50px;
        height: 50px;
    }

    .container_page_header {
        padding: 25px 30px 0 30px;
    }

    .container_catalog {
        padding: 0px 15px;
    }

    .footer_list {
        padding-top: 70px;
        gap: 50px;
    }
}

@media (max-width: 470px) {
    .logo {
        width: 150px;
        height: 32px;
    }
}
